/* -------------------------公共---------------------------- */
body{
    font-size:14px;
}
html,body,#app,#loginbox,#home{
    min-height:100%;
    margin:0;
  }

a{
    color: #fff;
    text-decoration: none;
}
.el-aside{
    min-height: 100%;
}
/* -------------------------左侧---------------------------- */

/* 左侧栏 */
.el-aside {
  color: #333;
  background:url(../images/leftBG_01.png) repeat-y;
}
/* 菜单 */
.el-menu{
    background-color:transparent;
    border:none;
    width:206px;/*最左边是24px,背景图宽230px */
    margin-left:24px;/* 量出的  */
}

/* 标题 -home.vue内干掉小图标 */
.el-submenu__title{
    color: #fff;
    background: url("../images/menuBG.png") repeat-x;
    height: 33px;/* 背景图高33px  */
    line-height: 33px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px 0px 0px 5px;
  }
/* 小箭头-隐藏掉eleUI自带的箭头 */
.el-submenu__icon-arrow{
    display:none;
}
/* 子菜单 */
.el-menu--inline{
    margin-left:0px;
}
/* 子菜单的行高和高度    --必须加.el-submenu 否则层级不够不生效 */
.el-submenu .el-menu-item{
    height: 30px;
    line-height: 30px;
    border-radius: 5px 0px 0px 5px;
    text-align: right;
    padding: 0px 20px; /* 控制台找到标题离右边20px 让他们对齐*/
    color: #aaa;
    margin-bottom: 5px;
}
/* 鼠标经过和焦点样式 */ /* 技巧:右键->force state->√:hover  */
.el-menu-item:hover, .el-menu-item:focus{
    background-color: rgba(255, 255, 255, 0.3);
}
/* 激活的样式 */
.el-menu-item.is-active{ /*交集选择器 */
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}
/* 左侧的标题自定义样式 */
#leftTitle{
    color: #fff;
}
#leftTitle h1,#leftTitle p{
    text-align: right;
    padding-right: 20px; /* 控制台找到标题离右边20px */
}
#leftTitle h1{
    font-size: 22px;
    font-family: "黑体";
}

/* --------------------------右侧--------------------------- */

.el-header,
.el-footer {
  background-color: #f9f9f9;
  color: #333;
}
/* 顶部 */
.el-header{
    padding-top:40px;
}
.el-header h1{
    font-size:22px;
    margin-top:0;
    color:#000;
}
/* 底部 */
.el-footer p{
    line-height: 50px;
    border-top:1px solid #ccc;
    margin:0;
}

/* 中间主体 */
.el-main .el-card__header {
    /* 渐变颜色： 默认从上到下的渐变，两个颜色上面和下面 */
    background: linear-gradient(#eee,#e5e5e5);
    height: 40px;
    line-height: 40px;
 }
.el-main .el-card__header h3{
    margin: 0px;
}

/* 警告框的样式 */
.el-alert{
    margin-bottom: 10px;
    background-color:#dbe3ff;
}
/* 主体内容 */
/* flex伸缩布局 */
#mainContent{
    display:flex;/* 开启伸缩布局 */
    flex-wrap:wrap;/* 开启换行 */
}

/* 三个子元素（RT 、 RM、 RB）的宽度为100% */
#mainContent>*{
    width: 100%;
    max-height: 450px;    
}
  body > .el-container {
    margin-bottom: 40px;
  }
/* 修改表单元素的默认宽度100% */
.el-input{
    width: 30%;
}
/* 把下拉列表恢复为100% */
.el-input--suffix{
   width: 100%;
}
#mydailog .el-input{
    width: 90%;
}